.backgr{
	background-image:url('../images/backgr.jpg')!important;
	/*background-color:#FFFFFF;*/
	z-index: 99;
}

.btn-group button {
  background-color: #82858C ;
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-size:24px;
}

.btn-group button:hover {
  background-color: #65686F ;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

